.cardView {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(322px, 1fr));
	gap: 20px;
}

@media (max-width: 768px) {
	.cardView {
		grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	}
}

@media (max-width: 480px) {
	.cardView {
		grid-template-columns: 1fr;
	}
}
