.button {
	border: none;
	color: white;
	padding: 12px 32px;
	border-radius: 4px;
	font-family: Circe;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
	text-wrap: nowrap;
	display: inline-flex !important;
	align-items: center;
	gap: 8px;
}

.button.fullWidthButton {
	width: 100%;
	justify-content: center;
}

.button.greenButton {
	background-color: #66c314;
}

.button.greenButton:hover {
	background-color: #76df19;
	transition: all 0.5s ease;
}

.button.largeButton {
	font-size: 18px;
}

.blueButton {
	background-color: #0050cf;
}

.blueButton:hover {
	background-color: #3a74d0;
	transition: all 0.5s ease;
}

.button:disabled {
	background: #ffffff;
	color: #6b7a99;
	border: 1px solid #6b7a99;
	cursor: default;
}
