.dropDownFilter {
	position: relative;
	width: 100%;
}

.dropDownHeader {
	width: 100%;
	padding: 12px 10px;
	background: white;
	border-bottom: 1px solid #e0e0e0;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #3d434f;
	font-size: 16px;
	line-height: 20px;
	transition: border-color 0.3s ease;
}

.dropDownHeader .text {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	align-items: center;
	user-select: none;
}

.dropDownHeader:hover {
	color: #004dd5;
}

.selected {
	color: #004dd5;
}

.dropDownList {
	position: absolute;
	top: 98%;
	left: 0;
	width: 100%;
	background: white;
	border: 1px solid #e0e0e0;
	border-radius: 0 0 4px 4px;
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	transition: all 0.3s ease;
	z-index: 10;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 10px;
}

.dropDownList.show {
	max-height: 240px;
	opacity: 1;
	overflow-y: auto;
}

.dropDownItem {
	padding: 12px 16px;
	cursor: pointer;
	color: #3d434f;
	font-size: 16px;
	line-height: 20px;
	transition: background-color 0.3s ease;
	border-radius: 4px;
	margin-bottom: 5px;
}

.dropDownItem:last-child {
	margin-bottom: 0;
}

.dropDownItem:hover {
	background-color: #2c68d1;
	color: white;
}

.dropDownItem.selected {
	background-color: #004dd5;
	color: white;
}

.arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 0.3s ease;
}

.arrow.reverse {
	transform: rotate(180deg);
}

/* Стилизация скроллбара */
.dropDownList::-webkit-scrollbar {
	width: 4px;
}

.dropDownList::-webkit-scrollbar-track {
	background: #f5f5f5;
	border-radius: 2px;
}

.dropDownList::-webkit-scrollbar-thumb {
	background: #e0e0e0;
	border-radius: 2px;
}

.dropDownList::-webkit-scrollbar-thumb:hover {
	background: #6b7a99;
}
