.auctionsPage {
	padding: 2rem 0;
}

.title {
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 2rem;
}

.countryFilter {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	margin-bottom: 2rem;
}

.countryButton {
	padding: 12px 20px;
	border-radius: 20px;
	border: none;
	background: #edeff3;
	cursor: pointer;
	color: #6b7a99;
	transition: all 0.2s ease;
	font-family: Circe;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
}
.countryButton.active {
	background: white;
	color: #004dd5;
	border: 1px #004dd5 solid;
}

.controls {
	display: flex;
	gap: 20px;
	align-items: center;
}

.dateFilter {
	display: flex;
	align-items: center;
	gap: 1rem;
	position: relative;
}

.dateButton {
	border: none;
	background: transparent;
	cursor: pointer;
	color: rgb(0, 77, 213);
	text-decoration: underline;
}

.datePickerWrapper {
	position: relative;
}

.dateInput {
	padding: 0.5rem;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	width: 250px;
	cursor: pointer;
}

.dateInput:focus {
	outline: none;
	border-color: #2196f3;
}

.displayControls {
	display: flex;
	align-items: center;
	gap: 12px;
	color: #6b7a99;
	font-family: Circe;
	font-size: 16px;
}

.select {
	padding: 8px 12px;
	border: 1px solid #e8ecef;
	border-radius: 10px;
	background: #ffffff;
	color: #6b7a99;
	font-family: Circe;
	font-size: 16px;
	cursor: pointer;
	outline: none;
	appearance: none;
	background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.5L6 6.5L11 1.5' stroke='%236B7A99' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: right 12px center;
	padding-right: 32px;
	min-width: 80px;
}

.select:focus {
	border-color: #004dd5;
}

.results {
	margin-top: 2rem;
}

.results span {
	font-weight: 700;
}

.noResults {
	text-align: center;
	color: #666;
	padding: 2rem;
}

/* Стили для календаря */
:global(.react-datepicker) {
	font-family: inherit;
	border-radius: 8px;
	border: 1px solid #e0e0e0;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

:global(.react-datepicker__header) {
	background-color: #fff;
	border-bottom: 1px solid #e0e0e0;
	border-radius: 8px 8px 0 0;
	padding-top: 10px;
}

:global(.react-datepicker__day--selected),
:global(.react-datepicker__day--in-range) {
	background-color: #2196f3 !important;
	color: white !important;
}

:global(.react-datepicker__day--keyboard-selected) {
	background-color: rgba(33, 150, 243, 0.1) !important;
	color: #2196f3 !important;
}

:global(.react-datepicker__day:hover) {
	background-color: rgba(33, 150, 243, 0.1) !important;
}

:global(.react-datepicker__navigation) {
	top: 13px;
}

:global(.react-datepicker__month-container) {
	padding: 5px;
}
