.container {
	display: flex;
	align-items: center;
	gap: 8px;
	justify-content: space-between;
	padding: 14px 8px;
	border-bottom: 1px solid #e0e0e0;
}

.label {
	font-size: 16px;
	color: #333;
	font-weight: 400;
}

.rangeContainer {
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 14px;
	height: 16px !important;
}

.separator {
	color: #333;
	font-size: 16px;
	padding: 0 4px;
}
