.filter {
	width: 324px;
	background: white;
	padding: 12px;
	border-radius: 4px;
	border: 1px solid #d3d8e6;
	margin-right: 36px;
	gap: 0 !important;
	position: relative;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 32px;
}

.header h3 {
	font-family: Circe;
	font-size: 18px;
	font-weight: 700;
	color: #333;
	margin: 0;
}

.filterBody {
	display: flex;
	flex-direction: column;
	margin-bottom: 12px;
}

.filterItem {
	width: 100%;
}

.showResults {
	width: 100%;
	padding: 12px;
	background: #004dd5;
	color: white;
	border: none;
	border-radius: 4px;
	font-family: Circe;
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;
	transition: background-color 0.2s ease;
	margin-top: 33px;
}

.showResults:hover {
	background: #003caa;
}

.closeButton {
	display: none;
	position: absolute;
	right: -40px;
	top: 45%;
	z-index: 9999;
	background: white;
	border: 1px solid #e0e0e0;
	border-radius: 100px;
	cursor: pointer;
	color: #6b7a99;
	padding: 16px;
	transition: color 0.3s ease;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	font-size: 0;
}

.closeButton:hover {
	color: #004dd5;
}

@media (max-width: 1279px) {
	.filter {
		border: none;
		margin-right: 0;
		padding: 0;
	}

	.closeButton {
		display: inline-block;
	}
}
