.deliveryInfo {
	padding: 12px;
	border-radius: 4px;
	border: 1px solid #d3d8e5;
}

.row {
	display: flex;
	padding: 12px 0;
	border-bottom: 1px solid #6b7a99;
}

.row:first-of-type {
	padding-top: 0;
}

.row span {
	width: 50%;
	font-size: 14px;
}

.label {
	color: #6b7a99;
}
